@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This app have been created to help you to keep organized the house adds that you are interested in rent</a>.</p>
</div>
